* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/candyBg.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

header {
  height: 5em;
  background-color: #7c508a;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100vw;
  
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 1.2em;
  align-items: flex-end;
  
}

.header-left,
.header-right {
  display: flex;
  gap: 5em;
  align-items: flex-end;
  justify-content: space-around;
  margin: 0 auto 0 auto;
}

.icon {
  width: 58px;
  height: 58px;
}

button {
  background-color: #ea9ab6;
  border: 2px solid #f1bdcf;
  border-bottom: none;
  height: 40px;
  width: 105px;
  padding: 10px;
  font-size: 20px;
  color: #7c508a;
  border-top-left-radius: 1.2em;
  border-top-right-radius: 1.2em;
}

.menu-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dropdown-buttons{
  border-radius: 0;
  position: absolute;
  border-radius: 0em;
  border: 1px solid #f1bdcf;
  
  visibility: hidden;
  pointer-events: none;
}

.dropdown-button {
  border: none;
  border-radius: 0;
}

.dropdown-button:hover{
  height: 43px;
  font-size: 21;
}

.main:hover {
  height: 43px;
  font-size: 21px;
}

.content {
  margin: 3.5em 0 2em 0;
  border-radius: 1.2em;
  width: max(50%, 600px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fae6ef;
  height: 100%;
  padding: 1em;
  color: #7c508a;
  font-weight: bold;
  border: 2px solid #7c508a;
}

.selected {
  height: 50px !important;
  font-size: 24px !important;
  background-color: #fae6ef;
}

footer {
  background-color: #7c508a;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1bdcf;
  margin-top: auto;
  padding: 20px;
  width: 100%;
}

#box {
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.text-div {
  min-height: 15em;
  width: 70%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
  padding: 1.5em;
  border: 0.3em solid #7c508a;
  border-radius: 6em;
  background-color: #f1bdcf;
}

.text-div h2 {
  font-size: 1.5em;
  width: clamp(10em, 40%, 12em);
}

.text-div h3 {
  width: clamp(5em, 30%, 9em);
}

.text-div-grid {
  display: grid !important;
  grid-template-columns: 4fr 1fr;
  align-items: center;
}

.text-div-grid-menu {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1em;
}

#home-list {
  border: 2px solid #fae6ef;
  padding: 2em;
  border-radius: 1em;
}

li {
  font-size: 1.2em;
}

#hour-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

.content-img {
  height: 100%;
  width: 40%;
  border-radius: 12em;
}

.menu-img {
  height: 70%;
  width: 90%;
  border-radius: 12em;
  align-self: center;
  justify-self: center;
}

#menu-header {
  display: grid;
  grid-template-columns: 1fr 10fr;
  width: 100%;
}

#menu-header #title {
  padding-right: 2.5em;
}

.menu-icon {
  margin-right: auto;
}

.social-media-text {
justify-self: center;
margin-right: 2.5em;
width: 15em !important;
}
